<div class="container my-5">
  <h1 class="text-center">Welcome to Charitask</h1>

  <p class="lead text-center">Select a quest based on your skills and interests!</p>

  <div class="text-center my-4">
    <% if user_signed_in? %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
      <%= button_to 'テストユーザーでログイン①', new_user_session_path(test_user: true), method: :post, class: 'btn btn-secondary' %>
      <%= button_to 'テストユーザーでログイン②', new_user_session_path(test_user: 'test1'), method: :post, class: 'btn btn-secondary' %>
    <% end %>
  </div>

  <div class="text-center my-4">
    <%= link_to 'View Quest Board', quests_path, class: 'btn btn-success' %>
  </div>
</div>
