<!-- app/views/home/index.html.erb -->

<div class="container my-5">
  <h1 class="text-center">Welcome to Charitask</h1>

  <p class="lead text-center">Select a quest based on your skills and interests!</p>

  <div class="text-center my-4">
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="text-center my-4">
    <%= link_to 'View Quest Board', quests_path, class: 'btn btn-success' %>
  </div>
</div>
