<!-- app/views/layouts/header.html.erb -->
<div class="header">
  <h1>Charitask</h1>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Quest Board', quests_path %>
    <!-- その他のリンク -->
  </nav>
</div>

